* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

#top-nav {
    background-color: #3AAFA9 !important;
    color: white !important;
    height: 6em;
    padding-bottom: 5px;
    
   font-weight: bold;
}

#top-nav1 {
    color: white !important;

}

.w3-bar-item {
    background-color: #3AAFA9;
    color: white;
}

.w3-button {
    background-color: rgb(20, 21, 49) !important;
    color: white !important;
    font-style: none;
}

.w3-button-x:hover {
    background-color: white !important;
    border-top-left-radius:20px;
    border-bottom-left-radius:20px;
    color: rgb(20, 21, 49) !important;
    text-decoration: none;
}




.sidebar {
    background-color: #3AAFA9;
    height: 100vh !important;
    width: 20%;
}

#sidebar {
    background-color: #3AAFA9;
    position: auto;
    height: 100vh !important;
}

#top-header {
    background-color: white;
    padding: 20px 20px;
    
}

#maincontent{
  background-color:white ;
  border-radius: 20px;
}
.w3-bar-item {
    margin: 0px;
}